html, body{
    width:100%;
    height:100%;
    background: linear-gradient( #571c35, #FFF);

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.BlockEte{
     padding: 35px;
     padding-bottom: 25px;
     background-color: white;
     flex-direction: column;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     font-weight: bold;
     color:grey;
}

 div .Ete{
     width:300px;
     height:350px;
}
.BlockAutomne{
     padding: 35px;
     padding-bottom: 25px;
     background-color: white;
     flex-direction: column;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     font-weight: bold;
     color:grey;

}

div .Automne{
     width:300px;
     height:350px;
}

.BlockHiver{
     padding: 35px;
     padding-bottom: 25px;
     background-color: white;
     flex-direction: column;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     font-weight: bold;
     color:grey;
}

div .Hiver{
     width:300px;
     height:350px;
}

.BlockPrintemps{
     padding: 35px;
     padding-bottom: 25px;
     background-color: white;
     flex-direction: column;
     text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
     font-weight: bold;
     color:grey;
}

div .Printemps{
     width:300px;
     height:350px;
}

div:hover{

     transform:rotateY(180deg);
     transition-duration:2s; 
     perspective:700px;
     transform-style: preserve-3d;
     
    
}

transform:rotateY(50deg);
transform:rotateZ(50deg);