/*Body Starts Here*/
body {
    color:white;
    background-color: black;
    
}
/*Body Ends Here*/

/*Table starts Here*/
table {
    
    border:3px solid black;
    width: 65%;
    text-align: center;
    padding-top: 10%;
    padding-left: 8%;
}
thead {
    font-weight:bold; 
    font-size: 30px;
    background-color:#1F1F1F; 
}
thead tr{
    height:50px;
}

thead :nth-child(2){
    font-weight: bold;
    font-size: 20px;
    background-color:#3F3F3F;
    height:50px;
}
      

tbody{
    background-color:#CCC; 
     
    font-weight:bold; 
    font-size: 20px;
}
tbody tr{
    height:100px;
    

} 
tbody tr:nth-child(2) {
    background-color:#999999;
    font-weight:bold; 
    font-size: 20px;
 }
 tfoot{
    
    
    font-weight:bold; 
    font-size: 15px;
} 
tfoot tr{
    height:50px;
    background-color: #3D3D3D; 
}
tfoot tr:nth-child(2){
    background-color:#1f1f1f; 
    
    font-weight:bold;
    font-size: 15px;
}
/*Table Ends Here*/
 