/*Body Starts Here*/
body {
    color:white;
    background-color: black;
    
}
/*Body Ends Here*/

/*Table starts Here*/
table {
    
    border:3px solid black;
    width: 65%;
    text-align: center;
    padding-top: 10%;
    padding-left: 8%;
}
thead {
    font-weight:bold; 
    font-size: 30px;
    background-color:#2C2A2A; 
}
thead tr{
    height:50px;
}

thead :nth-child(2){
    font-weight: bold;
    font-size: 20px;
    background-color:#474646;
    height:50px;
}
      

tbody{
    background-color: #D7D2D2; 
     
    font-weight:bold; 
    font-size: 20px;
}
tbody tr{
    height:100px;

} 
tbody:nth-child(2) {
    background-color:#B4ADAD; 
    
    font-weight:bold; 
    font-size: 20px;
 }
 tfoot{
    background-color:#474646; 
    
    font-weight:bold; 
    font-size: 15px;
} 
tfoot tr{
    height:50px;
}
tfoot:nth-child(2){
    background-color: #2C2A2A; 
    
    font-weight:bold;
    font-size: 15px;
}
/*Table Ends Here*/
 